<!-- <p>admin-login works!</p> -->
<app-header></app-header>
<div >

  
<div *ngIf="submitted">
  <div  style="background-color: rgb(26, 153, 26); border: 1px solid white;">
     <div style="color: rgb(243, 243, 239); margin:80px; padding:180px;" > 
      <i style="font-size: 80px; color: rgb(243, 243, 239); " class="fas fa-check-circle" ></i>
      <p style="font-size: 40px;">loggedin Successfully!</p>
      <a routerLink="/"><button class="btn btn-primary">Go back</button></a>
  </div></div>
             
         
</div>
        </div>

 <section class="vh-100" style="background-color: #eee; " *ngIf="!submitted">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-10">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">SELLER LOGIN</p>
  
                  <form class="mx-1 mx-md-4" [formGroup]="registerForm">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" >Your Email</label>
                        <input type="email" class="form-control form-control-sm" formControlName="adminEmail" />
                <p *ngIf="(registerForm.controls['adminEmail'].dirty ||
                          registerForm.controls['adminEmail'].touched || 
                          registerForm.controls['adminEmail'].pristine) &&
                          registerForm.controls['adminEmail'].errors" class="text-danger">
                    This field is required!
                </p>
                        
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                       
                        <label class="form-label" >Password</label>
                        <input type="password" class="form-control form-control-sm" formControlName="adminPassword" />
                <p *ngIf="(registerForm.controls['adminPassword'].dirty ||
                registerForm.controls['adminPassword'].touched|| 
                registerForm.controls['adminPassword'].pristine) &&
                registerForm.controls['adminPassword'].errors" class="text-danger">
               This field is required!
           </p>
                      </div>
                    </div>
                   
                    
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary" (click)="login()" >
                        Login
                    </button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://www.watchseller.com.au/wp-content/uploads/2022/02/post-palcecholder.jpg"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


