<!-- <app-header></app-header> -->
 
 <button (click)="addProduct()" class="btn btn-success  btn-lg btn-block">ADD PRODUCT</button>
 <button (click)="logout()" class="btn btn-danger  btn-lg btn-block">LOGOUT</button>

<table *ngIf="!updateFormView" class="table table-dark">
    <thead>
      <tr>
        <th scope="col">PRODUCT ID</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">IMAGE</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productDetails; let i=index">
        <td>{{item.productid}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.price }}</td>
        <td ><img src="{{item.image}}" style="width: 200px; height: 200px;"></td>
        <td>{{item.description}}</td>
        <td><button (click)="delete(item.productid)" class="btn btn-outline-danger btn-sm">Delete</button>
          &nbsp;
          <!-- <button (click)="update(item)" class="btn btn-outline-success btn-sm">Update</button> -->
        </td>
      </tr>
  
    </tbody>
  </table>

  <div *ngIf="updateFormView">
    <section class="vh-100" style="background-color: #eee; " >
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-10 col-xl-10">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
    
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">ADD PRODUCT</p>
    
                    <form class="mx-1 mx-md-4" [formGroup]="registerForm">
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example1c">Product Name</label>
                          <input type="text" class="form-control form-control-sm" formControlName="productName" />
                  <p *ngIf="(registerForm.controls['productName'].dirty ||
                        registerForm.controls['productName'].touched || 
                        registerForm.controls['productName'].pristine) &&
                        registerForm.controls['productName'].errors" class="text-danger">
                      This field is required!
                  </p>
                         
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" >Image</label>
                          <input type="text" class="form-control form-control-sm" formControlName="image" />
                  <p *ngIf="(registerForm.controls['image'].dirty ||
                            registerForm.controls['image'].touched || 
                            registerForm.controls['image'].pristine) &&
                            registerForm.controls['image'].errors" class="text-danger">
                      This field is required!
                  </p>
                          
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                        <div class="form-outline flex-fill mb-0">
                         
                          <label class="form-label" >description</label>
                          <input type="text" class="form-control form-control-sm" formControlName="description" />
                  <p *ngIf="(registerForm.controls['description'].dirty ||
                  registerForm.controls['description'].touched|| 
                  registerForm.controls['description'].pristine) &&
                  registerForm.controls['description'].errors" class="text-danger">
                 This field is required!
             </p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                          <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                          <div class="form-outline flex-fill mb-0">
                           
                            <label class="form-label" >Price</label>
                            <input type="text" class="form-control form-control-sm" formControlName="price" />
                  <p *ngIf="(registerForm.controls['price'].dirty ||
                       registerForm.controls['price'].touched|| 
                       registerForm.controls['price'].pristine) &&
                       registerForm.controls['price'].errors" class="text-danger">
                      This field is required!
                  </p>
                          </div>
                        </div>
    
                      
    
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary" (click)="apply()" >
                          ADD
                      </button>
                      </div>
    
                    </form>
    
                  </div>
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
    
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                      class="img-fluid" alt="Sample image">
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>